@charset "UTF-8";  

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #9fe9f7, #0269a5);
    }
    section#log {
        width: 90vw;
        height: 280px;
    }
    section#log > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#log > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #9fe9f7, #0269a5);
    }
    section#log {
        width: 55em;
        height: 300px;
    }
    section#log > div#img {
        float:  right;
        width: 50%;
        height: 100%;
    }
    section#log > div#form {
        float: left;
        width: 50%;
    }
    div#form > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
    div#form > h1 {
        font-size: 2em;
    }
}